
.container{
	display: flex;
	justify-content: space-around;
}

.container img{
	width:200px;
	height:200px;
	border: 2px black solid;
	padding: 10px;
	box-sizing: border-box;
	transition: border 2s;
	margin-top: 1em;
}

.container p{
	width:200px;
	height:200px;
	border: 2px black solid;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	margin-top: 1em;
}


.container p:hover{
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 2px 2px blue;
	font-style: italic;
	background-color: red;
	
}

.container img:hover{
	cursor: progress;
	border: 10px yellow solid;
}

@keyframes slide {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:300px; top:0px;}
  50%  {background-color:blue; left:600px; top:0px;}
  75%  {background-color:green; left:900px; top:0px;}
  100% {background-color:red; left:1200px; top:0px;}
}

.slide-animation{
  width: 200px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes Title {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}

.Heading{
	text-align: center;
	font-weight: bold;
	color:red;
	animation-name: Title;
	animation-duration: 2s;
    animation-iteration-count: infinite;
}






